.no-foto {
  height: 280px;
  background: #f4f5f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--ion-color-medium);
  border-radius: 12px;
}