.login-container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 15vh;
}

.logo {
  width: 120px;
  margin: 0 auto 20px;
}

h1 {
  font-size: 2.8rem;
  font-weight: 800;
  color: var(--ion-color-primary);
  margin-bottom: 0;
}

.subtitle {
  color: var(--ion-color-medium);
  margin-bottom: 40px;
}

.input-item {
  background: var(--ion-background-color);
  border-radius: 12px;
  margin-bottom: 16px;
  --padding-start: 16px;
  --inner-padding-end: 16px;
}

.btn-login {
  margin-top: 30px;
  height: 50px;
  font-size: 1.1rem;
  --border-radius: 12px;
}

.divider {
  margin: 25px 0;
  text-align: center;
  position: relative;
  
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--ion-color-light);
  }
  
  span {
    background: var(--ion-background-color);
    padding: 0 15px;
    color: var(--ion-color-medium);
    font-size: 0.9rem;
    position: relative;
  }
}

.btn-google {
  margin-top: 15px;
  height: 50px;
  font-size: 1rem;
  --border-radius: 12px;
  --border-color: var(--ion-color-medium);
  --color: var(--ion-color-dark);
  
  &:hover {
    --background: var(--ion-color-light);
  }
}

.info {
  margin-top: 30px;
  color: var(--ion-color-medium);
  font-size: 0.9rem;
}